@font-face {
    font-family: amazone;
    src: url(./Amazon\ Ember.ttf) format(truetype);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
.relative{
    position: relative;
}
.ri-search-line{
    position: absolute;
    right: 170px;
    margin-top: 10px;
    color: rgb(112, 105, 105);
}
.ri-map-pin-2-line{
    position: absolute;
    margin-top: 10px;
    right: 10px;
    color: rgb(112, 105, 105);
}
.ri-shopping-cart-2-line{
    font-weight: normal;
    margin-right: 7px;
}
nav{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    gap:70px;
    font-size: 20px;
}
.search-bar{
    height: 40px;
    width: 400px;
    border-radius: 8px;
    padding: 0px 15px;
}
.location{
    height: 40px;
    width: 150px;
    padding: 0px 20px;
    border-radius: 8px;
}
.icon-nav{
    gap:30px;
}
header{
    height: 50px;  
}
.header-nav{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 15px;
    padding: 0px 30px;
    font-size: 18px;
    position: relative;
}
.first-header{
    background-color: green;
    color: white !important;
    padding: 10px 15px;
    border-radius: 7px;

}
.header-nav a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
}
.header-nav a:hover{
    background-color: rgb(25, 25, 208);
    color: white;
}
.ri-gallery-view-2{
    margin-right: 10px;
    color: white;
}
.language-box{
    position: absolute;
    display: grid;
    padding: 10px 5px;
    border-radius: 6px;
    top: 50px;
    height: 200px;
    width: 150px;
    background-color:rgb(245, 242, 231);
    right: 30%;
    visibility: hidden;
}
.page-box:hover + .language-box{
    visibility: visible;
}
.container{
    height: 80%;
    width: 100%;
    background-image: url("./image/body-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.feature-categories{
    display: flex;
    justify-content: center;
}
.text-feture{
    height: 30px;
    width: 97%;
    font-size: 25px;
    margin-top: 20px;
}
.box-1{
    height: 200px;
    width: 180px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
    margin: 10px 22px;
    gap:15px;
}
.box-1 img{
    height: 150px;
    width: 150px;
}
.items-1{
    display:flex;
}
.items-2{
    height: 200px ;
    width: 100%;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.YCI7zS2lCpMuIX801TyvEQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-repeat: no-repeat;
    border-radius: 8px;
    
}
.items-3{
      height: 200px ;
    width: 100%;
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.hNCDZyEyg17lCP73t87KHQHaCv?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-repeat: no-repeat;
    border-radius: 8px;
}
.box-2{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    gap:35%;
    justify-content: space-between;
}
.popular-text{
width: 80%;
margin: 10px 20px;
font-size: 25px;
}
.box-no-1{
    height: 270px ;
    width: 180px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 5px;
    margin: 10px 15px;
}
.box-no-1 img{
    height: 120px;
    width: 120px;
}
.snaks-text{
    font-size: 15px;
    color: rgb(130, 128, 128);
}
.sale-box{
   display: flex;
   flex-direction: row;
gap: 10px;
padding: 5px ;
}
.add{
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
}
.sale{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;

}
.percentage{
     background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
}
.add-btn{
    background-color:rgb(12, 172, 55);
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    border: none;
}
.line-thot{
    text-decoration: line-through;
    color: rgb(134, 129, 129);
}
.box-main-no{
    display: flex;
    gap:10px;
    margin: 0px 15px;
}
hr{
    margin: 10px 5px ;
}
.division-1{
    margin: 10px 15px;
    padding: 10px 15px;
    height: 150px;
    width: 350px;
}
.ri-time-line, .ri-gift-line, .ri-archive-line, .ri-loop-left-line{
    color: rgba(0, 128, 0, 0.726);
    font-size: 45px;
    align-content: center;
}
.division-1 h3{
    margin-bottom: 15px;
}
.division-1 p{
    color: rgb(115, 111, 111);
}
.div-box{
    display: flex;
}
.footer{
    margin-top: 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.footer p{
    line-height: 30px;
    color: rgb(131, 126, 126);
}