*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
}
section{
    height:100vh;
    width: 100%;
    /* max-width: 100%; */
    background-image: url('https://m.media-amazon.com/images/S/sonata-images-prod/AMXP_IN_PV_HeartBeats_S2_Set2/9d32ec5e-8c30-4f59-89c1-cf90b9486244._UR3840,1440_SX2160_FMavif_PQ65_.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow:hidden; */  
}