@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   font-family: "Source Sans 3", sans-serif;
}
body{
    height: 80vh;
    width: 100%;
    background-color: black;
}
.main{
    height:80vh;
    width: 100%;
    max-width: 100%;
    background-image: url('https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_DrawnTogether/ccf87df0-29be-486b-8bfb-b7e8453f1dbf._UR3840,1440_SX2160_FMavif_PQ65_.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;  
    position: relative;
}
.main::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(
    transparent, black
    );
}
header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    height: 60px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 8px 8px;
    position: fixed;
}
.prime-video-name{
    height: 17px;
    margin-left:10px;
}
a{
    text-decoration: none;
    color:white;
    margin: 0px 5px;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}
a:hover{
    background-color: white;
    color: black;
}
.Subscription{
    padding: 10px;
    border-radius: 8px;
}

.Subscription:hover{
    background-color: white;
    color: black;
}
.single-line{
    color:white;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.ri-search-ai-line,
.ri-layout-grid-2-fill,
.ri-account-circle-line{
    margin: 0px 12px;
    color: white;
}
.join-prime{
    height: 36px;
    width: 80px;
    border: none;
    margin-right: 10px;
    color: white;
    border-radius: 6px;
    background-color:blue

}
.Subscription,.ri-gallery-view-2{
    color: white;
    margin: 0px 1px;
}
.ri-gallery-view-2{
    margin-left: 10px;
}
p{
    color: aqua;
    font: 600;
}
.middel-part{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.prime-img{
    height: 60px;
    width: 100%;
    background-image: url(./channels-logo-white-originals._CB757620342_SY52.5_FMwebp_.webp);
    background-repeat: no-repeat;
    margin: 5px 80px;
    margin-top: 40px;
}
.drawan{
    height: 85px;
    margin-bottom: 5px;
    /* width: ; */
}
.short-lng{
    font-size: 22px;
    color: white;
}
.inida-txt{
    color: darkgreen;
    font-size:18px;
    font-weight: 600;
    margin: 5px 0px;
}
.textt{
    color:white;
    font-size: 22px;
    margin-bottom: 5px;

}
.ri-error-warning-line,.ri-add-large-line{
        font-size: 25px;
        color: white;
        margin-bottom: 5px;
}
.button-join{
    height: 58px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: darkgray;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}
.ri-add-large-line,.ri-error-warning-line{
    margin:0px 8px;
    background-color: darkgray;
    padding: 10px 12px;
    border-radius: 50%;
}
.plus-wrong-btn{
    display: flex;
    align-items: center;
}
.ri-shopping-bag-4-line{
    color: gold;
    margin-right: 5px;
}
.last-tetx{
    color: white;
}
.prime-all-txt{
    height: 100%;
    width: 90%;
}
.romantic-show{
    color: white;
    margin-left:80px;
    margin-top: 30px;
}

.movies-box-1{
    height: 200px;
    width: 100%;
    display:flex ;
    overflow-x: auto;
    scrollbar-width: none;
}
.box-1-of-1{
    height: 180px;
    width: 300px;
    border-radius: 8px;
    margin: 10px;
    overflow-x: scroll; 
   
}
.box-1-of-1:hover{
     transform: scale(1.2);  
     transition: 0.5s ease-in-out;
     border-radius: 8px;
     overflow: visible;
}
.movies-box-2{
    display: flex;
    gap: 300px;
    margin-top: 15px;
     overflow-x: auto;
    scrollbar-width: none;
}
.box-2-of-2{
    display:flex;
    position: relative;
    align-items: center;
    margin-top:15px;
    height: 180px;
    width: 300px;
    margin-bottom: 15px;
}
.number-1{
    height: 80px;
    width: 80px;
    
}
.poster-2{
    height: 180px;
    width: 300px;
    position: absolute;
    left:55px;
          box-shadow: -35px 0 35px rgba(0,0,0,0.8);
}
.poster-2:hover{
     transform: scale(1.2);  
     transition: 0.5s ease-in-out;
     border-radius: 8px;
     overflow: visible;
}

/* Language */

.language{
    position: relative;
    display: inline-block;
    color: white;
}

.language-btn{
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.language-box{
    position: absolute;
    top: 42px;
    right: -150px;

    width: 500px;
    padding: 20px;

    background-color: #19212a;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 22px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.5);

    opacity: 0;
    visibility: hidden;

    transition: 0.2s ease;

    z-index: 999;
}

.language-box span{
    color: white;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 8px;
}

.language-box span:hover{
    background-color: white;
    color: #19212a;
}

.language:hover .language-box{
    opacity: 1;
    visibility: visible;
}