*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100%;
}
div > p{
    color:rgb(216, 133, 24);
}
div::first-letter{
    font-size:40px;
    color:rgb(53, 53, 161);
}
p::first-line{
    background-color:aqua;
}
span::selection{
    background-color:yellow;
    color:color:azure;
    font-size:40px;
}