*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button{
    height: 60px;
    width: 120px;
    background-color:rgb(49, 49, 255) ;
    border-radius:8px;
    font-size: 22px;
    color: white;
}
div{
    display: inline-block;
    border: 2px solid red;
    padding: 5px 10px;
    border-radius:8px;
    margin: 10px 4px;

}