*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100vh;
    background-color:rgb(215, 209, 209);
}
.right-box{
padding: 10px;
}
main{
    height:90%;
    width:92%;
    margin: 24px;
     display:flex;
}
.left-box{
    padding: 7px 10px;
    margin:10px 20px;
    width:12%;
    height:98%;
    line-height:26px;
    background-color: rgb(252, 250, 245);
    font-size: 12px;
}
.left-botam-box{
    margin-top: 25px;

}
.right-box{
    width:80%;
    height:98%;
    background-color:rgb(252, 250, 245);
      margin:10px 4px;

}
.nav-search-bar input{
    height:25px;
    width:250px;
}
.nav-profile-bar img{
    height:30px;
    width:30px;
    border-radius:50%;
    margin-right: 10px;
    /* margin-left:310px ; */
    
}
.nav-profile-bar {
    display: flex;
}
.nav-profile-bar i{
    gap: 10px;
    margin-top: 3px;
    margin-right:5px ;
}


.nav-profile-bar div{
    display: flex;
    flex-direction: column;
    font-size:12px;
}
.profile-name{
    font-size: 9px;
    color: rgb(167, 165, 165);
}


nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 7px;
}
.welcome-bar p{
  
    font-size: 10px;
}
.welcome-bar{
      padding-top: 7px;
}
.right-first-box{
    display: flex;
    flex-direction:column;
}
.leave-box{
   background-color: aquamarine;
   display: flex;
   flex-direction: column;
   width:150px;
}
.left-timing-box-bar{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* gap: 2px; */
    /* column-gap: 2px; */
    row-gap:10px;
}